* {
    font-family: Roboto;
}

body {
    background-color: rgb(3, 50, 42);
}

.add_subjects {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
}

.subject_list {
    font-size: 1.25rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 2%;
    text-align: center;
}

.outer-container {
    z-index: -40;
    position: absolute;
    width: 35%;
    border: .1px solid transparent;
    opacity: .9;
    border-radius: 18px;
    backdrop-filter: blur(3px);
    background: linear-gradient(rgb(255, 255, 255, .2), rgb(28, 240, 166));
    box-shadow: 0px 1px 1px 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
}

.inner-container-background {
    z-index: -10;
    position: absolute;
    height: 42.5px;
    box-shadow: -3px 3px 10px 0px #626262;
    background: rgb(141, 137, 137)
}

.inner-container,
.inner-container-background {
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 6px;
    width: 350px;
}

.inner-container {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(223, 220, 220);
}

.text-input {
    border: 0.5px solid gray;
    background: rgba(245, 242, 242, 0.5);
    padding: 0px 5px;
    width: 230px;
    line-height: 30px;
    height: 35px;
    border-radius: 5px;
}

.text-input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(21, 110, 45, 0.59);
    transition: all 0.2s ease-in-out;
}

.search_button {
    /*background: #67b26f; /* fallback for old browsers */
    /*  background: -webkit-linear-gradient(to bottom, #67b26f, #4ca2cd); /* Chrome 10-25, Safari 5.1-6 */
    /*  background: linear-gradient(to bottom, #67b26f, #4ca2cd); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(rgb(255,255,255,.2),rgb(28, 240, 166)); */
    background: linear-gradient(rgb(12, 197, 132), rgba(21, 110, 45, 0.59));
    color: white;
    font-weight: bold;
    width: 50px;
    line-height: 30px;
    border: 2px solid rgb(50, 146, 137);
    height: 35px;
    padding: 0px 5px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.clear_button {
    background: #ed213a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ed213a, #93291e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ed213a, #93291e);
    color: white;
    font-weight: bold;
    width: 50px;
    line-height: 30px;
    border: 2px solid #ed213a;
    height: 35px;
    padding: 0px 5px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    box-shadow: -3px 3px 10px 0px #626262;
}

.todo li {
    flex: 1;
    font-family: Roboto;
}

.trash-btn {
    background: #ed213a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ed213a, #93291e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ed213a, #93291e);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash {
    pointer-events: none;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.close-and-search-container{
    width: 100%;
    display: flex;
}

.close{
    width: 50%;
    background: #ed213a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ed213a, #93291e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ed213a, #93291e);
    font-size: 20px;
    color: white;
    padding: 7.5px;
    border-radius: 0 0 0 18px;
    cursor: pointer;
}

.search{
    width: 50%;
    background: linear-gradient(rgb(12, 197, 132), rgba(21, 110, 45, 0.59));
    font-size: 20px;
    color: white;
    padding: 7.5px;
    border-radius: 0 0 18px 0;
    cursor: pointer;
}