body{
    background: rgb(105, 105, 105);
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;
}

html{
    box-sizing: border-box;
}
/* Marquee = Breaking News section*/
.marquee{
    height: 40px;
    width: 100%;
    background-color: darkblue;
    color:white;
    overflow: hidden;
    position: relative;
    border-bottom: solid 3px darkblue;
    border-top: solid 3px darkblue;
}

.marquee_container{
    display: block;
    height: 40px;
    float:left;
    
    animation: marquee 120s linear infinite;

    position: absolute;
    overflow: hidden;  

    left:150px;

    white-space: nowrap ;
    z-index: 1;
    
}

.text_container{
    display:inline-block;
    margin-left: 2px;
    background-color: darkblue;
    height: 40px;
}

.text_frame{
    float:left;
    text-align: center;
    line-height: 40px;
    font-size: 16.5px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.breaking_news_container{
    background: linear-gradient(to top, red, darkred);
    width:150px;
    height:inherit;
    z-index: 2;
    position: absolute;
    border-right: solid 3px darkblue;
}

.breaking_news_text{
    height: inherit;
    font-size: 22px;
    text-align: center;
    margin-top: 1px;
    line-height: 40px;
}

.scroll_ui_container{
    background: linear-gradient(to top, white, lightgray);
    width:40px;
    height:inherit;
    z-index: 2;
    position:absolute;
    right:0;
    border-left: solid 3px darkblue;
}

.btn_start_and_stop_anim{
    /* background-color : lightgray; */
    width : 40px;
    height : 40px;
}

.btn_toggle_image{
    width : 40px;
    height : 40px;
    content : url('/@resources/icons/pause_icon.png');
}

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }

/* Settings-Button */
  .button {
    margin-left: auto;
    display: flex;
    height: 40px;
    width: 40px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

  .button:hover {
    background: #008168;
  }
  
  .button:active {
    background: #006e58;
  }

  .button__icon {
    display: inline-flex;
    align-items: center;
    color: #fff;
    height: 100%;
    width: 100%;
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
  }

  .button__icon i{
    margin-left: auto;
    margin-right: auto;
  }

/* .holdingcontainer = container for news boxes */
  .holdingcontainer{
    max-width: 100%;
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    flex-direction: row;
    opacity: 1;
  }

/* internalcontainerX = news boxes + background-color */
  .internalcontainerW, .internalcontainerR, .internalcontainerB{
    flex: 1;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 3px;
    border: 2px solid black;  
  }

  .internalcontainerW{
    background:white;
  }

  .internalcontainerR{
    background: rgb(235, 50, 50);
    color: white;
  }

  .internalcontainerB{
    background: rgb(50, 50, 50);
    color: white;
  }

  @media screen and (max-width: 768px){
    .holdingcontainer{
      flex-direction: column-reverse;
    }
  }

/*form popup = container for settings popup */
.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    min-width: 40%;
    background: rgb(135, 125, 125);
    border: 2px solid black;
  }
  
  /*arranges close and search button next to each other*/
  .selector-buttons{
      display: flex;
  }
  /* design for close and search button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.8;
    bottom: 0;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
/* design for settings input */
form input{
    margin-top: 2%;
    font-size: 1.5rem;
    border: none;
    background: white;
    height: 40px;
    width: 60%;
}
/* form button = design for settings input button */
form button{
    margin-top: 2%;
    font-size: 2rem;
    border: none;
    color: grey;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 40px;
}
form button:hover{
    background: rgb(135, 125, 125);
    color: white;
}
/* container for the appended user input */
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
/* appended user input item */
.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo li{
    flex: 1;
}
.trash-btn{
    background: red;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.todo-item{
    padding: 0rem 0.5rem;
}
.fa-trash{
    pointer-events: none;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}


